#hoved{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-self: center;
    justify-self: center;
}




.flagg {
    opacity: 0.34;
    height: 150px;
    width: 200px;
}

.flagg.click {
    opacity: 1;
}

.flaggContainer {
    height: 300px;
    width: 500px;
}

#knapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#gåTilbake,#gåVidere{
    border: grey 5px;
    background: #f2f2f2;
    padding: 12px;
    margin: 12px;
    border-radius: 3px;
    width: 200px;
    font-size: 14px;
    align-self: center;
}

@media screen and (max-width: 992px) {
    .flagg {
        opacity: 0.34;
        height: 105px;
        width: 140px;
    }
}