#hoved{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../brukerRegistrering/Bilder/BakgrunnBrukerReg.png");
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
}

#header{
    width: 100%;
    height: 150px;
    background-color: #761F18;
    display: grid;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:repeat(1,fr);
    grid-template-areas: 
    ". . . l . . b"
    ;
}

#profilBilde{
    width: 100px;
    height: 100px;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#kjonn{
    display: flex;
    flex-direction: row;
}

.l{grid-area: l;}
.b{grid-area: b;}

@media screen and (max-width: 1440px){
    #hoved{
        background-image: none;
        background-color: #FFF1C1;
    }
}

.kamera{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


#startKnapp,#brukernavn,#email,#fornavn,#etternavn{
    background-color: #FAAC18;
}

#startKnapp,#tilPreferanser,#tilInteresser,#logg-ut,#brukerKjonn {
    cursor: pointer;
}