#hoved{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../brukerRegistrering/Bilder/BakgrunnBrukerReg.png");
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
}

#header{
    width: 100%;
    height: 150px;
    background-color: #86242a;
    display: grid;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:repeat(1,fr);
    grid-template-areas: 
    ". . . l . . b"
    ;
}

#profilBilde{
    background: url("https://lyko.com/globalassets/product-images/dick-johnson-magic-dust-10-portions-2608-115-0010_4.jpg?ref=1181169&w=960&h=960&mode=max&quality=75&format=webp") 50% 50% no-repeat;
    width: 100px;
    height: 100px;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#kjonn{
    display: flex;
    flex-direction: row;
}

.l{grid-area: l;}
.b{grid-area: b;}

@media screen and (max-width: 1440px){
    #hoved{
        background-image: none;
        background-color: #86242a;
    }
}