html, body {
    margin:0;
    padding:0;
}
    
  
.parallax {
    /* The image used */
    background-image: url("img/bakgrunn.png");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pause {
    min-height: 500px;
    opacity: 0%;
    width: 50%;
}

#header{
    width: 100%;
    height: 150px;
    background-color: #86242a;
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 1;
    grid-area: 
    ". . l l . ."
    ;
    position: fixed;
}