#hoved{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("Bilder/BakgrunnBrukerReg.png");
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
}

#logIn {
    text-align: justify;
}

#registrer {
    cursor: pointer;
}

#radioo {
    cursor: pointer;
}

#brukerKjonn {
    cursor: pointer;
}

#header{
    width: 100%;
    height: 150px;
    background-color: #86242a;
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 1;
    grid-area: 
    ". . l l . ."
    ;
}

html, body >*{
    width: auto;
    display: flex;
    flex-direction:column; 
    align-items: center;    
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

div {
    display: block;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

#bruker >* {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px; 
}

#hvit{
    color: white;
}

.l{grid-area: l;
    cursor: pointer;}

#brukernavn,#passord,#email,#fornavn,#etternavn{
    border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 400px;
  font-size: 14px;
}

#registrert{
    color: white;    
}

/* mobilversjon */

@media screen and (max-width: 992px) {
    #bruker >* {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 250px; 
}
}