#hoved{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url("../brukerRegistrering/Bilder/BakgrunnBrukerReg.png");
    background-size:100%;
    margin: auto;
    height: 100%;
}

.OverLay { position: fixed; z-index: 3; opacity: 0.5; filter: alpha(opacity = 50); top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; background-color: Black; color: White; margin: auto; display: none;}

#laste{
    width: 5%;
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 350px;
}

#header{
    width: 100%;
    height: 150px;
    background-color: #86242a;
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 1;
    grid-area: 
    ". . l l . ."
    ;

}

#interesseboks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

#nesteSide{
    width: 150px;
}

.l{grid-area: l;}

#inputInteresse,#leggTil,#fjern{
    border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 400px;
  font-size: 14px;
  align-self: center;
}

#sideValg{
    display: flex;
    flex-direction: row;
}

#gåVidere,#gåTilbake{
  
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 180px;
    font-size: 14px;
    
   
}