body {
overflow: hidden;
}

.OverLay { position: fixed; z-index: 3; opacity: 0.5; filter: alpha(opacity = 50); top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; background-color: Black; color: White; margin: auto; display: inline;}

#laste{
    width: 5%;
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 350px;
}

#startKnapp {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hoved{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
   display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../brukerRegistrering/Bilder/BakgrunnBrukerReg.png");
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
}

.l{grid-area: l;
user-select: none;}
.p{grid-area: p;
  user-select: none;
  cursor: pointer;}

#header{
  width: 100%;
  height: 150px;
  background-color: #86242a;
  display:grid;
  grid-template-columns:repeat(9,1fr);
  grid-template-rows: repeat(1,fr);
  grid-template-areas: 
  ". . . . l . . . p"
  ;
}

#div {
position: absolute;
top: 200px;
left: 600px;
right: 600px; 
width: 25%;
height: 75%;
background-color: #86242a;
margin: auto;
padding: 10px;
border-radius: 25px;
opacity: 1;

  display: none;
  flex-direction: column;
  
  transition: all .22s ease-in-out;
  user-select: none;
}



  
#div.fade {
  opacity: 0;
}

#profilbilde{
  border-radius: 10px;
}

#moveRight,#moveLeft{
  width: 150px;
}

#knapp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

#flagg{
  height: 20px;
  width: 30px;
}

#logo {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  #div{
    width: 100%;
    height: 100%;
    align-self: center;
    top: 0px;
    right: 0px; 
    left: 0px; 
    border-radius: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-right: 10px;
  }
  
  #hoved{
    background-image: none;
  }

  #header{
    display: none;
    
  }


}

#profilSide{
  width: 100px;
  height: 100px;
  margin-top: 30px;
}