#hoved{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
   display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../brukerRegistrering/Bilder/BakgrunnBrukerReg.png");
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
}

#header{
  width: 100%;
  height: 150px;
  background-color: #86242a;
  display: flex;
  justify-content: center;
}

#div {
position: absolute;
top: 200px;
left: 600px;
right: 600px; 
width: 25%;
height: 75%;
background-color: #86242a;
margin: auto;
padding: 10px;
border-radius: 25px;
opacity: 1;

  display: flex;
  flex-direction: column;
  
  transition: all .22s ease-in-out;
  user-select: none;
}



  
#div.fade {
  opacity: 0;
}

#profilbilde{
  border-radius: 10px;
}

#moveRight,#moveLeft{
  width: 150px;
}

#knapp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#flagg{
  height: 20px;
  width: 30px;
}

@media screen and (max-width: 992px) {
  #div{
    width: 100%;
    height: 100%;
    align-self: center;
    top: 0px;
    left: 0px;
    right: 0px; 
  }

  #header{
    display: none;
  }

  #profilbilde{
    width: 420px;
    align-self: center;
  }
}
